*{
  
  color :greenyellow
}
#container{
 background-color: none !important;
 border: 5px solid greenyellow;
 /* margin: 25vh  ; */
 margin: auto; ;
margin-top: 25vh;
 height: 90vh !important;
    width: 90vw !important;
} 

img{
    /* position: relative; */
    height: 100% !important;
    width: 100% !important;
    /* object-fit: center !important; */
}
