/* *{
  font-size: bold;
   /* background-color: rgb(236, 121, 141); */
  /* color : black */
/* } */ 
body{
  background-color:rgb(236, 121, 141) !important; 
}
.title ,.innerline{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  color: rgb(130, 9, 243);
  text-align: center !important;
}
#container{
 background-color: none !important;
 border: 5px solid greenyellow;
 /* margin: 25vh  ; */
 margin: auto; ;
margin-top: 15vh;
 height: 60vh !important;
    width: 70vw !important;
    box-shadow: 2px 5px 50px 20px yellow
               /* 20px 5px 5px 5px  */
}
img{
    /* position: relative; */
    height: 100% !important;
    width: 100% !important;
    /* overflow:hidden; */
    /* object-fit: center !important; */
}
